<html>
<head>
<title>Answer</title>
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/questions.scss">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
<h1>This is your answer:</h1>

<div>
<p><%= @question %></p>
</div>

<footer>
<%=link_to "Ask another question!", root_path %>
</footer>

</body>

</html>
